<!DOCTYPE html>
<html lang="en" id="payment-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <script src="../static/scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
<div class="container">
    <header><h1>Choose Payment Method</h1></header>
    <main>
    <form id="paymentForm">
        <div class="payment-options">
            <input type="radio" id="google-pay" name="payment-method" value="google-pay">
            <label for="google-pay">Google Pay</label>
        </div>
        <div class="payment-options">
            <input type="radio" id="apple-pay" name="payment-method" value="apple-pay">
            <label for="apple-pay">Apple Pay</label>
        </div>
        <div class="payment-options">
            <input type="radio" id="credit-card" name="payment-method" value="credit-card">
            <label for="credit-card">Credit Card</label>
        </div>
    </form>
    </main>
</div>
<aside class="aside">
    <div class="quote">
        "You can tell a lot about a person by the shoes they wear."

    </div>
</aside>
<footer class="footer">
    <a href="#">Instagram</a>
    <span>|</span>
    <span>&copy; 2024 Shoe Shop</span>
</footer>
</body>
</html>
