<!DOCTYPE html>
<html lang="en" id="signup-page">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <script src="../static/scripts/index.js"></script>
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>

<div class="landing-container">
    <header>
      <h1>Sign Up</h1>
    </header>

    <main>
    <form id="signupForm" class="container" onsubmit="signUpUser(); return false;">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" class="styled-input" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="styled-input" required>
      </div>
      <button type="submit" class="landing-buttons">Sign Up</button>
    </form>
</main>
</div>
<aside class="aside">
  <div class="quote">
    "You can tell a lot about a person by the shoes they wear."
  </div>
</aside>
<footer class="footer">
  <a href="#">Instagram</a>
  <span>|</span>
  <span>&copy; 2024 Shoe Shop</span>
</footer>

</body>
</html>
